POSTGRES_DB=punto_mayorista
POSTGRES_USER=punto_user
POSTGRES_PASSWORD=colocar_contrasena
POSTGRES_PORT=5432

DATABASE_URL=postgresql+psycopg://punto_user:colocar_contrasena@localhost:5432/punto_mayorista